In [1]:
# -*- coding: utf-8 -*-
import pandas as pd
import datetime
from tqdm import *
import numpy as np
from scipy import stats

df=pd.read_csv(r'C:\luyan\paper_code\data\daily.csv')


# df['duration']=df.loc[:,'16':'30'].apply(np.sum,axis=1)




for set_point_i in range(16,31):
    set_point=str(set_point_i)
    
    df[set_point+'_per']=df.loc[:,'16':'30'].apply(lambda x: x[set_point]/np.sum(x), axis=1)


df['set_point_weight_mean']=df['16_per']*16+df['17_per']*17+df['18_per']*18+df['19_per']*19+df['20_per']*20+df['21_per']*21+df['22_per']*22+\
    df['23_per']*23+df['24_per']*24+df['25_per']*25+df['26_per']*26+df['27_per']*27+df['28_per']*28+df['29_per']*29+df['30_per']*30


df.head(5)

             id      date   16   17   18   19  ...    26_per  27_per  28_per  29_per  30_per  set_point_weight_mean
0  0007A88A4D8D  20160728  0.0  0.0  0.0  0.0  ...  0.000000     0.0     0.0     0.0     0.0              22.000000
1  0007A88A4D8D  20160729  0.0  0.0  0.0  0.0  ...  0.509587     0.0     0.0     0.0     0.0              23.547936
2  0007A88A4D8D  20160730  0.0  0.0  0.0  0.0  ...  0.000000     0.0     0.0     0.0     0.0              20.160867
3  0007A88A4D8D  20160801  0.0  0.0  0.0  0.0  ...  0.000000     0.0     0.0     0.0     0.0              20.037656
4  0007A88A4D8D  20160802  0.0  0.0  0.0  0.0  ...  0.000000     0.0     0.0     0.0     0.0              23.253928

[5 rows x 34 columns]

In [2]:
def droplevel(df):
    df.columns=df.columns.droplevel(0)

def aggfeature(df,featurename):
    df_mean=pd.pivot_table(df,values=featurename,index='id',aggfunc=[np.mean])
    droplevel(df_mean)
    df_mean.reset_index(inplace=True)
    df_mean.columns=['id',featurename+'_mean']
    
    df_median=pd.pivot_table(df,values=featurename,index='id',aggfunc=[np.median])
    droplevel(df_median)
    df_median.reset_index(inplace=True)
    df_median.columns=['id',featurename+'_median']
    
    
    df_std=pd.pivot_table(df,values=featurename,index='id',aggfunc=[np.std])
    droplevel(df_std)
    df_std.reset_index(inplace=True)
    df_std.columns=['id',featurename+'_std']
    
    
    
    df_skew=pd.pivot_table(df,values=featurename,index='id',aggfunc=[stats.skew])
    droplevel(df_skew)
    df_skew.reset_index(inplace=True)
    df_skew.columns=['id',featurename+'_skew']
    
    df_kurt=pd.pivot_table(df,values=featurename,index='id',aggfunc=[stats.kurtosis])
    droplevel(df_kurt)
    df_kurt.reset_index(inplace=True)
    df_kurt.columns=['id',featurename+'_kurt']
    
    df_merge=pd.merge(df_mean,df_median,on='id')
    df_merge=pd.merge(df_merge,df_std,on='id')
    df_merge=pd.merge(df_merge,df_skew,on='id')
    df_merge=pd.merge(df_merge,df_kurt,on='id')
    
    return df_merge





df_setpoint_features=aggfeature(df,'set_point_weight_mean')
df_setpoint_features.head(5)

#df_setpoint_features.to_csv(r'C:\luyan\paper_code\data\feature_data\setpoint_mean.csv',index=False)
df.head(5)

             id      date   16   17   18   19  ...    26_per  27_per  28_per  29_per  30_per  set_point_weight_mean
0  0007A88A4D8D  20160728  0.0  0.0  0.0  0.0  ...  0.000000     0.0     0.0     0.0     0.0              22.000000
1  0007A88A4D8D  20160729  0.0  0.0  0.0  0.0  ...  0.509587     0.0     0.0     0.0     0.0              23.547936
2  0007A88A4D8D  20160730  0.0  0.0  0.0  0.0  ...  0.000000     0.0     0.0     0.0     0.0              20.160867
3  0007A88A4D8D  20160801  0.0  0.0  0.0  0.0  ...  0.000000     0.0     0.0     0.0     0.0              20.037656
4  0007A88A4D8D  20160802  0.0  0.0  0.0  0.0  ...  0.000000     0.0     0.0     0.0     0.0              23.253928

[5 rows x 34 columns]